* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'roboto', sans-serif;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

header{
    background: #5897fb;
    height: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__navigation{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.navigation__link{
    border-right: 1px solid #fff;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    padding: 0 10px;
    transition: color .6s ease 0ms;
}
.navigation__link:hover{
    color: #000000;
}
.navigation__link:nth-last-child(-n + 1){
    border: none;
}
.navbar__accounting{
    margin: 0 0 0 600px;
}
.account__link{
    color: #ffffff;
    font-size: 14px;
    padding: 0 10px;
    transition: color .6s ease 0ms;
    border-right: 1px solid #ffffff;
}
.account__link:hover{
    color: #000000;
}
.cart__link{
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
}

.error_msg{
    margin: 10px;
    padding-left: 10px;
    color: #b43c3c;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    border-radius: 6px;
}
.successfully_msg{
    margin: 10px;
    padding-left: 10px;
    color: #0e860e;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    border-radius: 6px;
}

/* admin panel block */
.admin__panel--main{
    display: flex;
    padding-top: 5px;
}

.admin-product__container{
    margin: 0 0 0 5px;
    position: relative;
    width: 100%;
}
.admin-product--position{
    margin-top: 2px;
}
._admin__container{
    margin: 2px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border: 1px solid black;
    background: #5897fb;
}

._admin__container textarea{
    height: 45px;
    text-align: center;
}
.item__title-size{
    width: 250px;
}
.item__title-size2{
    width: 100px;
}
.item__title-size3{
    width: 150px;
}

.admin-account__container{
    width: 25%;
    height: 100vh;
    background: #5897fb;
}

.product-edit__form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.product-edit__form p{
    margin-left: 5px;
}
.item-edit__button{
    height: 42px;
    width: 8%;
    font-size: 14px;
    background: #0e860e;
    margin: 0 5px;
    padding: 0 5px;
    text-transform: uppercase;
    color: white;
    transition: 0.5s ease 0ms;
}
.item-edit__button--size{
    width: 8%;
}
.item-edit__button:hover{
    background: #b43c3c;
}

.add-admin__form{
    display: flex;
    flex-direction: column;
}
.add-admin__form label{
    margin: 5px 0 0 5px;
}
.add-admin__form input{
    outline: 0;
    margin: 0 5px 0 5px;
    height: 30px;
}
.add-admin__form input:nth-last-child(-n +1){
    margin-top: 10px;
    height: 40px;
    background: #b43c3c;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s ease 0ms;
}
.add-admin__form input:nth-last-child(-n +1):hover{
    background: #722323;
}

/* product tile block */

.main__container{
    display: flex;
    margin-top: 10px;

}
.products__container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.filter__container{
    width: 20%;
}
.product__tile{
    width: 20%;
    border-radius: 10px;
    border: 1px solid #dfe0e3;
    transition: all .5s ease 0ms;
}
.product__tile:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.product__tile .product__img:hover{
    transform: scale(1.1, 1.1);

}
.product__img-block{
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.product__img{
    width: 185px;
    height: 200px;
    transition: all .5s ease-in-out 0ms;
    overflow: hidden;
}
.product__title{
    margin: 0 0 0 5px;
    word-wrap: normal;
    height: 60px;
    overflow: hidden;
}
.product__cost-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin: 0 5px;
}
.product__cost{
    color: #5897fb;
    font-weight: bold;
}
.product__code{
    color: #4f5d77;
    font-size: 12px;
}
.product_buy-button{
    width: 50%;
    background-color: #5897fb;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 5px;
    height: 30px;
    border-radius: 0 0 0 10px;
    transition: background-color .5s ease 0ms;
}
.product_buy-button:hover{
    background-color: #b43c3c;
}

/*  Login/Registration form  */

.login-form__container{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.login-form__container--size{
    height: 350px;
}
.login__form{position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.login__form input{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #5897fb;
    padding-left: 10px;
}
.login__form input:nth-last-child(-n +1) {
    margin-top: 10px;
    background-color: #b43c3c;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    transition: all .5s ease-in-out 0ms;
}
.login__form input:nth-last-child(-n +1):hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.login__link{
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0px);
    color: #0e860e;
}
.login__link:hover {
    text-decoration: underline;
}
.close__form{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    color: #b43c3c;
    font-weight: bold;
    font-size: 18px;
    transition: all .5s ease-in-out 0ms;
}
.close__form:hover{
    background-color: #b43c3c;
    color: white;
    border-radius: 6px;
}

/*  User Account Page  */

.user-account__container{
    width: 25%;
    background-color: #4f5d77;
    height: 100vh;
}
.user-account-form__container{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.user-account-form__container input{
    height: 40px;
    border-radius: 6px;
    padding-left: 10px;
}
.user-account-form__container label{
    color: white;
    margin-top: 5px;
}
.user-account-form__container input:nth-last-child(-n +1){
    margin-top: 20px;
    letter-spacing: 1px;
    color: white;
    background-color: #0e860e;
    text-transform: uppercase;
    transition: all .5s ease-in-out 0ms;
}
.user-account-form__container input:nth-last-child(-n +1):hover{
    background-color: #1e491e;
}
.user-acc--pos{
    margin-left: 10px;
}

.navbar--color-user{
    background-color: #4f5d77;
}

.current-user__container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 10px 10px;
}
.current-user__container p{
    margin: 0 10px;
}
.current-user__container legend{
    margin: 0 10px;
}
.current-user__data-border{
    margin: 10px 0;
    width: 100%;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    height: 80px;
}
.current-user__data-label{
    letter-spacing: 1px;
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 10px;
}

/*  cart__container  */

.cart__container{
    display: flex;
}
.cart-product__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 30px;
    width: 80%;
}

.button-price{
    display: flex;
    justify-content: start;
    align-items: center;
}

.product__pos{
    margin-left: 10px;
}
.product__tile--pos{
    margin-top: 10px;
}

.buy-all-products__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 10px;
    width: 25%;
}

.buy-all-products__form{
    height: 50vh;
    background-color: #5897fb;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
}

.buy-all-products__form h2{
    color: white;
    margin: 10px;
}
.buy-all-products__form input{
    color: white;
    background-color: #b43c3c;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all .5s ease-in-out .5ms;
    font-size: 16px;
}
.buy-all-products__form input:hover{
    background-color: white;
    color: black;
}

.total__cost{
    margin-left: 10px;
    font-weight: bold;
    font-size: 50px;
    color: white;
}
.total__cost span{
    font-size: 18px;
}

.total__cost-fieldset{
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.total__cost-fieldset legend{
    color: white;
    margin-left: 10px;
}

.user-cart__info{
    color: white;
    margin:10px 10px 10px 10px;
    font-size: 18px;
}
.empty_cart{
   margin: 50px auto;
    font-size: 80px;
    color: grey;
    text-transform: uppercase;
}